:host {
  display: block;
}

.section {
  border-left-width: 10px;
  padding: 2rem;
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(103, 230, 52, 0.1);
}
.student-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap:2.5rem;
  padding: 2.5rem;
  background-color: #e0ee22;
}

.student-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  }
}

.student-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
