:host {
  display: block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(243, 19, 19);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
